<div uk-grid>

  <!--div class="uk-width-1-5 uk-margin-large-top uk-padding-small">
    <ul class="uk-tab-left" uk-sticky="offset: 100; bottom: #sticky-on-scroll-up"
    uk-tab="connect: #component-tab-left; animation: uk-animation-fade"
    >

      <li><a href="#">Ajouter un Pole</a></li>
      <li><a href="#">Ajouter un NT</a></li>
      <li><a href="#">Compagnies<br>d'assurances</a></li>
      <li><a href="#">Ajouter une agence</a></li>
    </ul>
  </div-->

  <div class="uk-width-1-1">
    <div class="uk-padding-small">
      <h2 class="uk-heading-divider">BRANCHE: Tous Risque Chantier</h2>

      <a href="#add_contrat" uk-toggle>
        <span uk-icon="icon: pencil"></span> Ajouter un contrat
      </a>

      <table class="uk-table uk-table-hover uk-table-divider ">
        <thead>
          <tr>
            <th>N° de police</th>
            <th>Désignation</th>
            <th>Date effet</th>
            <th>Date échéances</th>
            <th>Montant prime</th>
            <th>Ordre de paiement</th>
            <th>N° de dossier</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>2.000.000,00 DA</td>
            <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa<br><span class="uk-label uk-label-warning">Warning</span></td>
            <td>2.000.000,00 DA</td>
            <td></td>
            <td>jj/mm/aaaa</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>2.000.000,00 DA</td>
            <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>2.000.000,00 DA</td>
            <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa<br><span class="uk-label uk-label-warning">Warning</span></td>
            <td>2.000.000,00 DA</td>
            <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>2.000.000,00 DA</td>
            <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>2.000.000,00 DA</td>
            <td></td>
            <td>jj/mm/aaaa</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa<br><span class="uk-label uk-label-danger">Danger</span></td>
            <td>2.000.000,00 DA</td>
            <td></td>
            <td>jj/mm/aaaa</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>2.000.000,00 DA</td>
            <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>2.000.000,00 DA</td>
            <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa<br><span class="uk-label uk-label-danger">Danger</span></td>
            <td>2.000.000,00 DA</td>
            <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>2.000.000,00 DA</td>
            <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>2.000.000,00 DA</td>
            <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>2.000.000,00 DA</td>
            <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>2.000.000,00 DA</td>
            <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>2.000.000,00 DA</td>
            <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>2.000.000,00 DA</td>
            <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>2.000.000,00 DA</td>
            <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>2.000.000,00 DA</td>
            <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>2.000.000,00 DA</td>
            <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>2.000.000,00 DA</td>
            <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<form id="add_contrat" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title"><span class="uk-text-muted uk-margin-small-right">#</span>Ajouter un contrat</h2>
        </div>
        <div class="uk-modal-body uk-grid-small" uk-grid>

            <div class="uk-width-1-2@s">
              <label class="uk-form-label">N° dossider</label>
              <input class="uk-input" type="text" placeholder="">
            </div>

            <div class="uk-width-1-2@s">
              <label class="uk-form-label">N° police</label>
              <input class="uk-input" type="text" placeholder="">
            </div>

            <div class="uk-width-1-2@s">
              <label class="uk-form-label">Compagne d'assurances 
                <a class="" href="#add_conpagne_as" title="ajouter une compagne d'assurances" uk-tooltip uk-toggle>
                  <span class="" uk-icon="icon: pencil"></span>
                </a>
              </label>
              <input class="uk-input" type="text" placeholder="">
            </div>

            <div class="uk-width-1-2@s">
              <label class="uk-form-label">Code agence 
                <a class="" href="#add_pole" title="ajouter une agence" uk-tooltip uk-toggle>
                  <span class="" uk-icon="icon: pencil"></span>
                </a>
              </label>
              <input class="uk-input" type="text" placeholder="">
            </div>

            <div class="uk-width-1-4@s">
              <label class="uk-form-label">POLE 
                <a class="" href="#!utilites/#!add_pole" title="ajouter un pole" uk-tooltip uk-toggle>
                  <span class="" uk-icon="icon: pencil"></span>
                </a>
              </label>
              <select class="uk-select" id="form-stacked-select">
                <option></option>
                <option>Option 01</option>
                <option>Option 01</option>
              </select>
            </div>

            <div class="uk-width-1-4@s">
              <label class="uk-form-label">NT 
                <a class="" href="#add_pole" title="ajouter un NT" uk-tooltip uk-toggle>
                  <span class="" uk-icon="icon: pencil"></span>
                </a>
              </label>
              <select class="uk-select" id="form-stacked-select">
                <option></option>
                <option>Option 01</option>
                <option>Option 01</option>
              </select>
            </div>

            <div class="uk-width-1-2@s">
              <label class="uk-form-label">Directeur 
                <a class="" href="#add_pole" title="ajouter un directeur" uk-tooltip uk-toggle>
                  <span class="" uk-icon="icon: pencil"></span>
                </a>
              </label>
              <select class="uk-select" id="form-stacked-select">
                <option></option>
                <option>Option 01</option>
                <option>Option 01</option>
              </select>
            </div>

            <div class="uk-width-1-4@s">
              <label class="uk-form-label">Date </label>
              <input class="uk-input" type="date" data-uk-datepicker="{format:'DD/MM/YYYY'}">
            </div>

            <div class="uk-width-1-4@s">
              <label class="uk-form-label">Date </label>
              <input class="uk-input" type="date" data-uk-datepicker="{format:'DD/MM/YYYY'}">
            </div>

            <div class="uk-width-1-4@s">
              <label class="uk-form-label">Date </label>
              <input class="uk-input" type="date" data-uk-datepicker="{format:'DD/MM/YYYY'}">
            </div>

            <div class="uk-width-1-4@s">
              <label class="uk-form-label">Date </label>
              <input class="uk-input" type="date" data-uk-datepicker="{format:'DD/MM/YYYY'}">
            </div>


        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
            <button class="uk-button uk-button-primary" type="button">Enregistrier</button>
        </div>
    </div>
</form>