<div style="height: 76px"></div>


<a href="#!/produit/0" class="ui primary button">Nouveau produit</a>
<div class="ui icon input focus">
  <i class="search icon"></i>
  <input type="text" placeholder="Search..." ng-model="q">
</div>

<table class="ui selectable single line blue table">
  <thead>
    <th>Ref</th>
    <th>Designation</th>
    <th>Qte</th>
    <th>Prix HT</th>
    <th>Famille</th>
    <th>Sous Famille</th>
  </thead>
  <tbody>
    <tr ng-repeat="ele in $parent.produit_list | filter:q">
      <td>
        <a href="#!/produit/#{{ele.ref}}">
          <div class="ui horizontal list">
            <div class="item">
              <img class="ui mini circular image" src="img/mm.png"
              data-src="https://s.gravatar.com/avatar/{{ele.gravatar}}?s=36&d=mm" width="36" height="36">
              <div class="content">
                <div class="ui sub header">{{ele.ref}}</div>
                {{ele.des}}
              </div>
            </div>
          </div>
        </a>
      </td>
      <td>{{ele.des}}</td>
      <td>{{ele.qte}}</td>
      <td>{{ele.prix_ht}}</td>
      <td>{{ele.fam"}}</td>
      <td>{{ele.sfam"}}</td>
    </tr>
  </tbody>
</table>
  